<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ALL_BUILD.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Core.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>94</integer>
		</dict>
		<key>OpenThreads.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>SkyView Essentials.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>95</integer>
		</dict>
		<key>ZERO_CHECK.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>iOS Essentials.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>96</integer>
		</dict>
		<key>install.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>osg.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>osgAnimation.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>osgDB.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>osgFX.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>osgGA.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>osgManipulator.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>osgParticle.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>osgPresentation.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
		<key>osgShadow.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>16</integer>
		</dict>
		<key>osgSim.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>17</integer>
		</dict>
		<key>osgTerrain.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>18</integer>
		</dict>
		<key>osgText.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>osgUtil.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>osgViewer.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>osgVolume.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>20</integer>
		</dict>
		<key>osgWidget.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>19</integer>
		</dict>
		<key>osgdb_3dc.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>65</integer>
		</dict>
		<key>osgdb_3ds.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>76</integer>
		</dict>
		<key>osgdb_ac.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>77</integer>
		</dict>
		<key>osgdb_bmp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>57</integer>
		</dict>
		<key>osgdb_bsp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>86</integer>
		</dict>
		<key>osgdb_bvh.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>68</integer>
		</dict>
		<key>osgdb_cfg.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>54</integer>
		</dict>
		<key>osgdb_dds.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>59</integer>
		</dict>
		<key>osgdb_deprecated_osg.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>32</integer>
		</dict>
		<key>osgdb_deprecated_osganimation.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>34</integer>
		</dict>
		<key>osgdb_deprecated_osgfx.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>35</integer>
		</dict>
		<key>osgdb_deprecated_osgparticle.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>33</integer>
		</dict>
		<key>osgdb_deprecated_osgshadow.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>39</integer>
		</dict>
		<key>osgdb_deprecated_osgsim.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>36</integer>
		</dict>
		<key>osgdb_deprecated_osgterrain.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>40</integer>
		</dict>
		<key>osgdb_deprecated_osgtext.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>37</integer>
		</dict>
		<key>osgdb_deprecated_osgviewer.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>38</integer>
		</dict>
		<key>osgdb_deprecated_osgvolume.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>41</integer>
		</dict>
		<key>osgdb_deprecated_osgwidget.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>42</integer>
		</dict>
		<key>osgdb_dot.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>62</integer>
		</dict>
		<key>osgdb_dw.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>67</integer>
		</dict>
		<key>osgdb_dxf.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>70</integer>
		</dict>
		<key>osgdb_freetype.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>92</integer>
		</dict>
		<key>osgdb_geo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>72</integer>
		</dict>
		<key>osgdb_glsl.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>55</integer>
		</dict>
		<key>osgdb_hdr.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>61</integer>
		</dict>
		<key>osgdb_imageio.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>91</integer>
		</dict>
		<key>osgdb_ive.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>53</integer>
		</dict>
		<key>osgdb_ktx.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>64</integer>
		</dict>
		<key>osgdb_logo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>79</integer>
		</dict>
		<key>osgdb_lwo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>88</integer>
		</dict>
		<key>osgdb_lws.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>80</integer>
		</dict>
		<key>osgdb_md2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>81</integer>
		</dict>
		<key>osgdb_mdl.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>87</integer>
		</dict>
		<key>osgdb_normals.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>47</integer>
		</dict>
		<key>osgdb_obj.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>73</integer>
		</dict>
		<key>osgdb_openflight.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>71</integer>
		</dict>
		<key>osgdb_osg.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>52</integer>
		</dict>
		<key>osgdb_osga.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>43</integer>
		</dict>
		<key>osgdb_osgshadow.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>50</integer>
		</dict>
		<key>osgdb_osgterrain.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>51</integer>
		</dict>
		<key>osgdb_osgtgz.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>82</integer>
		</dict>
		<key>osgdb_osgviewer.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>49</integer>
		</dict>
		<key>osgdb_p3d.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>66</integer>
		</dict>
		<key>osgdb_pic.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>74</integer>
		</dict>
		<key>osgdb_ply.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>89</integer>
		</dict>
		<key>osgdb_pnm.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>58</integer>
		</dict>
		<key>osgdb_pov.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>78</integer>
		</dict>
		<key>osgdb_pvr.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>93</integer>
		</dict>
		<key>osgdb_revisions.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>48</integer>
		</dict>
		<key>osgdb_rgb.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>56</integer>
		</dict>
		<key>osgdb_rot.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>44</integer>
		</dict>
		<key>osgdb_scale.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>45</integer>
		</dict>
		<key>osgdb_serializers_osg.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>21</integer>
		</dict>
		<key>osgdb_serializers_osganimation.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>22</integer>
		</dict>
		<key>osgdb_serializers_osgfx.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>23</integer>
		</dict>
		<key>osgdb_serializers_osgga.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>28</integer>
		</dict>
		<key>osgdb_serializers_osgmanipulator.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>24</integer>
		</dict>
		<key>osgdb_serializers_osgparticle.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>25</integer>
		</dict>
		<key>osgdb_serializers_osgshadow.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>27</integer>
		</dict>
		<key>osgdb_serializers_osgsim.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>26</integer>
		</dict>
		<key>osgdb_serializers_osgterrain.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>29</integer>
		</dict>
		<key>osgdb_serializers_osgtext.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>30</integer>
		</dict>
		<key>osgdb_serializers_osgvolume.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>31</integer>
		</dict>
		<key>osgdb_shp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>84</integer>
		</dict>
		<key>osgdb_stl.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>75</integer>
		</dict>
		<key>osgdb_tga.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>60</integer>
		</dict>
		<key>osgdb_tgz.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>83</integer>
		</dict>
		<key>osgdb_trans.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>46</integer>
		</dict>
		<key>osgdb_txf.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>85</integer>
		</dict>
		<key>osgdb_txp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>90</integer>
		</dict>
		<key>osgdb_vtf.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>63</integer>
		</dict>
		<key>osgdb_x.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>69</integer>
		</dict>
		<key>uninstall.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>002A9116ABD04FD0886000CA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>01A620D4673544C99FCA1999</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>01D75C38AC5A455A9A7FA7E1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>03253CF4F4E84D32B480FD83</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0819DA91F4AD4776BF70477E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>08D30E6014F648D186C13607</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0AC033DFD32642F38AF49178</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>11F5865ABC294783A7FC9713</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>17EFCF72956545D1A77CB6B8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1E61EA1055874EEAB055468C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>22CD85516696434F9EBE9B95</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>243A7E3E731743698E284EFF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2539523337C44034AED15D68</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>26EC795E888D473E91BAC240</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2C5B84E631FC42FD9279724D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2C5FDAF1A06947E7AF31B11E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>374C22763FA040A1B1D0CF11</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3851C13C3574404FA3475B14</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3BE6112F18E3440A9E0B8622</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3FDA0793487D48C3ABD8F36B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>410B7BFE1644C0E80047404C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>410B7C2C1644C77A0047404C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>417890F093144CA8AE17BACF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>44F8E78E767043309749C203</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>484F90511D9548A986B31827</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4B3934C958FE486F935C6B0E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4CB3AAC084674B1DBFC1DE2F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4D35AA0F4A094FCC985B3C42</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4DA39DBF0C1A4FC19ACBD9CF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4E6E75EDF2D1431EAB635877</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5070A67552BB45748EFA0971</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5186B13A224F47B3A8E808D2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5215464BC9D94D25A97C7546</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5374D5A76EF04724AA824104</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>586959953F02436BB643AE9A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5BE6F0DD63B04FA5BB8926B3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>62B8553A054C4457800F5403</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>643D17A51AAA42338CB4D63C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>664568CE0FAF466C8A13F354</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>66B7007A0B794917AC588E80</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>69C33EE1A84543EEB30803D5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6C1A63FC418B40788694441F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>71731F49776D4447A54FAACD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>72039A6F253045F7BE9516CB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>78C196598E33446A8CA6B5AE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>79156690B82E4E26B545DD19</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>792815410DD64E0EA9A3FE3B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7D0EF552225A4D52B9BF7A04</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7D913E361177450F92A71CC0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>80916DC7D35F4DD5BBAB0F5C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>81F1178753C742BB9F8E0D4E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8346E2600CD044759F69D982</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>85CB43D228BD45EEB216773E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>85E0137F35884EA18D62D408</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>89C5395AF2AC4358BA1CA82C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8B41128A390947789F03C463</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8D9006AC7E654D84B21B6251</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>91FC0E1707C64DE6B5850B05</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>92E13A7BC8744ACEB290368A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9CC2595E060B4A42A5CB3FD4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9FAD52661FAF48CD92831310</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A29FF223B0C34448BB632485</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A717183F163F4F23BAF1247C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AE28725D32A64A87A6E7D3D7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B0042D3CEC4B4E35B20EDCC2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B137B1D718404136A37A55FE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B61E37B8F8BD481DA08167FB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B7F588EF885D44BCA5FAF8C6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BD4CDEBEFFB8465F8FF8E827</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BDEC8FD5242A4E4086518EAB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C34FC9C06AE044329027C8D6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C70C06D252644DA9B2B99220</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CA5F42DF8BAB4FEC9F534DCE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D0B7D1D17C854FB29FB911A1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D278CB39D6E546EDBC576648</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D31FE57D1C5446DAB3082CFF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D3F5C86F76BA4638B446938C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D5A428061B724EFDACDF6D9A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D80C90BDB1E8494CB2B0BDE9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D892EFEE21104B4D91BD9882</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DB52DDBC01F14C1DB1CBFDA3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DED4EB673DE243199E6D4F9D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E1C1226441664AAF942ACA83</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E3BFFB60AF904713924B7CEE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E78E605629E94F16A7D6A47A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E8C172166A974ABDB49E0084</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E8C911DE90584444801A4CEC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F09C7151C0DE4E05BB11B8AD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F1CE96E76BD64A57AA745CFD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F4392A3A3AC14ADA96971C07</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F44928126280486AB565EACF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F485FF9CC50641B8816C124C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F6354AB43CB8497899FE8213</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F744819F59C84A258B72A7AB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FC53F220CE8E459A808CC134</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FDBF94F022A74B0BBB66BB36</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
